body{
	background: url('../img/pattern.png');
	color: #fff;
    margin: 0px;
}
p{
    color: black;
}
header{
    background-color: gray;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
}

ul{
    list-style: none;

}
li{
    margin: 5px;
    display: inline;
}

a{
    text-decoration: none;
}

section{
    background-color:white;
    margin: 40px 150px 30px;
    padding: 10px ;

}
#article-list{
    margin :10px 50px;
}

article{
    border-bottom: 2px solid black;
    margin: 20px;
}

h1{
    text-align: center;
    color: black;
}
footer{
    background-color: black;
    padding: 2px;
}
h5{
    text-align: center;
}